{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_patient_edit' %}

{% block main %}
   <div class="border">
    <h1>{{ 'title.edit_patient'|trans({'id': patient.id}) }}</h1>

    {{ include('admin/patient/_form.html.twig', {
        form: form,
        button_label: 'action.save'|trans,
        include_back_to_home_link: true,
    }, with_context = false) }}</div>
    </div>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_patient_show', {id: patient.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'action.show_patient'|trans }}
        </a>
    </div>

    <div class="section actions">
        {{ include('admin/patient/_delete_form.html.twig', {patient: patient}, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
